@import url('https://fonts.cdnfonts.com/css/martyric-personal-use-only');
body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #55606E;
}

.navbar ul{
    list-style-type: none;
    padding: 30px;
    border: 0;
    margin: 0;
    vertical-align: center;
    line-height: 50px;

}

.navbar ul li{
    display: inline-block;
    position: relative;
    color: #8827c0;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0;
    vertical-align: top;
   
}

.navbar{
    position: relative;
    text-align: center;
    font-family: 'Martyric Personal Use Only', sans-serif;
    font-size: 60px;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #3f4751;
    height: 160px;
    border-bottom: 3px solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.title{
    font-size: 85px;
    position: relative;
    text-align: center;
    font-family: 'Martyric Personal Use Only', sans-serif;  
    display: inline-block;
    line-height: 100px;
    padding-left: 35px;
    padding-right: 45px;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
}


.logojocuri{
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-right: 45px;

}

.logojocuri img{
    vertical-align: middle;
    margin: 0 90px;
    border-left: 5px dotted;
    border-right: 5px dotted;
   
}


.logopong{
    width: 300px;
}

.logosnake{
    width: 200px;
   
    
}

.logobattleships{
    width: 250px;
}