@font-face { 
    font-family: quinn-rounded; 
    src: url('quinn-rounded-7.ttf'); 
}

@font-face { 
    font-family: boya-bold; 
    src: url('BOYA\ BOLD.ttf'); 
}


html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #5d5d5d;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar ul{
    list-style-type: none;
    padding: 30px;
    border: 0;
    margin: 0;
    vertical-align: center;
    line-height: 50px;

}

.navbar ul li{
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    vertical-align: top;
   
}

.navbar{
    position: relative;
    text-align: center;
    font-family: 'quinn-rounded', sans-serif;
    font-size: 5vh;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #e8e8e8;
    height: 17% ;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #000000;
}

.title{
    color: rgb(0, 0, 0);
    font-size: 17vh;
    position: relative;
    text-align: center;
    font-family: 'boya-bold', sans-serif;  
    display: inline-block;
    line-height: 10vh;
    padding-left: 35px;
    padding-right: 45px;
    -webkit-text-stroke-width: 2.7px;
    -webkit-text-stroke-color: #000000;
}

.logojocuri{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66.5%;
    width: 94%;
    margin-right: 2vh;
   
}

.logopong:hover{
    transform: scale(1.15);
    background-color: #df8f8f;
    padding-top: 14.5vh;
    padding-bottom: 16.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.logosnake:hover{
    transform: scale(1.15);
    background-color: #df8f8f;
}

.logobattleships:hover{
    transform: scale(1.15);
    background-color: #df8f8f;
    
}

.logopong{
    width: 51vh;
    padding-top: 17vh;
    padding-bottom: 16.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
   
}

.logosnake{
    width: 38vh;
    padding-top: 14.5vh;
    padding-bottom: 14vh;
    padding-left: 3.5vh;
    padding-right: 4vh;
   
}

.logobattleships{
    width: 40vh;
    padding-top: 13vh;
    padding-bottom: 12.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
   
}

.mesajmain{
    background-color:#e8e8e8;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 17.5%;
}

.mesajmain h1{
    color: rgb(0, 0, 0);
    font-family: 'boya-bold', sans-serif;
    font-size: 12vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    word-spacing: 0.3em;
    margin: 0;
    padding: 0;
}

.mesajmain span{
    font-size: 11vh;
    padding: 0 0 3vh 0;
    margin: 0;
}