@import url('https://fonts.cdnfonts.com/css/martyric-personal-use-only');

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #ac73ff;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar ul{
    list-style-type: none;
    padding: 30px;
    border: 0;
    margin: 0;
    vertical-align: center;
    line-height: 50px;

}

.navbar ul li{
    display: inline-block;
    position: relative;
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    vertical-align: top;
   
}

.navbar{
    position: relative;
    text-align: center;
    font-family: 'Martyric Personal Use Only', sans-serif;
    font-size: 6vh;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #F273FF;
    height: 17% ;
    border-bottom: 5px dashed white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #7380FF;
}

.title{
    color: black;
    font-size: 9vh;
    position: relative;
    text-align: center;
    font-family: 'Martyric Personal Use Only', sans-serif;  
    display: inline-block;
    line-height: 10vh;
    padding-left: 35px;
    padding-right: 45px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7380FF;
}

.logojocuri{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 66.5%;
    width: 100%;

    
}

.logojocuri img{
    margin-right: 3vh;
    margin-left: 3vh;
   
}

.logopong:hover{
    transform: scale(1.1);
}

.logosnake:hover{
    transform: scale(1.1);
}

.logobattleships:hover{
    transform: scale(1.1);
}

.logopong{
    width: 40vh;
}

.logosnake{
    width: 30vh;
}

.logobattleships{
    width: 30vh;
}

.mesajmain{
    background-color:#F273FF ;
    border-top: 5px dashed white;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 17.5%;
}

.mesajmain h1{
    color: white;
    font-family: 'Martyric Personal Use Only', sans-serif;
    font-size: 3vw;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #7380FF;
    word-spacing: 0.3em;
    margin: 0;
    padding: 0;
}

.mesajmain img{
    width: 12vh;
    margin: 2vh;
}