.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  background: #fff3e5;
  font-family: 'bangers-regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  font-size: 3rem;
  user-select: none;
}

#game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

#reset-button {
  background-color: #e6bbad; 
  font-family: 'bangers-regular';
  color: rgb(0, 0, 0); 
  padding: 15px 30px;
  border: none;
  border-radius: 5px; 
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s;
}

#reset-button:hover {
  background-color: #efcdc1; 
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.back-button {
  position: fixed;
  top: 50px;
  left: 75px;
}

.back-button button {
  padding: 15px 30px;
  background-color: #e6bbad;
  font-family: 'bangers-regular';
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.back-button button:hover {
  background-color: #efcdc1;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}



.board-container {
  text-align: center;
  flex: 1 1 300px; 
  font-size: 24PX;
  max-width: 400px;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1; 
}

.cell {
  background-color: #add8e6;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1; 
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: gray;
  opacity: 0.5;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .board-container {
      flex: 1 1 100%;
  }

  .cell {
      border: 0.5px solid #ddd;
  }

  button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }

  .board {
      gap: 1px;
  }

  button {
      font-size: 0.8rem;
      padding: 6px 12px;
  }
}
